.instruction {
  width: 100%;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
}

.instruction__wrapper {
  padding: 120px 100px;
  display: flex;

  @include vp-1199 {
    padding: 100px 45px;
    flex-direction: column;
    gap: 40px;
  }

  @include vp-767 {
    padding: 67px 15px;
    gap: 15px;
  }
}

.instruction__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 498px;
  margin: 0 138px 0 0;

  @include vp-1199 {
    width: 678px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.instruction__content h3 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;

  margin: 0;

  @include vp-1199 {
    font-size: 34px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.instruction__content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  margin: 0 0 10px 0;
  color: $color-alabaster;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.instruction__image-wrapper {
  width: 498px;
  height: 363px;

  @include vp-1199 {
    width: 678px;
    height: 375px;
  }

  @include vp-767 {
    width: 290px;
    height: 200px;
    margin: 0 auto;
  }
}

.instruction__image-wrapper img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.instruction__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 483px;

  @include vp-767 {
    width: 100%;
    gap: 15px;
  }
}

.instruction__list-wrapper h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

  margin: 0;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}

.instruction__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  gap: 23px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    width: 678px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 47px;
  }

  @include vp-767 {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
}
