.news {
  width: 100%;
}

.news__wrapper {
  padding: 120px 0;
  margin: 0 auto;
  min-width: 1200px;
  max-width: 1240px;

  display: grid;
  grid-template-columns: 22px 1fr 22px;
  gap: 40px;

  @include vp-1199 {
    min-width: 768px;
    max-width: 768px;
    height: 100%;
    padding: 100px 45px;
  }

  @include vp-767 {
    min-width: 100%;
    max-width: 100%;
    padding: 67px 15px;
  }
}

.news__wrapper .swiper-slide[data-category="training"] {
  order: 0;

  @include vp-767 {
    order: 1;
  }
}

.news__wrapper .swiper-slide[data-category="travelling"] {
  order: 1;

  @include vp-767 {
    order: 3;
  }
}

.news__wrapper .swiper-slide[data-category="volunteer"] {
  order: 2;

  @include vp-767 {
    order: 2;
  }
}

.news__wrapper .swiper-slide[data-category="career"] {
  order: 3;

  @include vp-767 {
    order: 4;
  }
}

.news__wrapper h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  grid-column: span 3;

  color: $color-cerulean-blue;
  margin: 0;

  @include vp-1199 {
    font-size: 34px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.news__tabs-buttons {
  display: flex;
  gap: 30px;
  grid-column: span 3;
  justify-content: center;

  width: 810px;
  margin: 0 auto;

  @include vp-1199 {
    width: 678px;
    gap: 10px;
  }

  @include vp-767 {
    width: 100%;
    overflow: scroll;
    justify-content: flex-start;
  }
}

.news__slider-wrapper {
  width: 100%;
  grid-column: span 3;

  @include vp-1199 {
    width: 678px;
  }

  @include vp-767 {
    width: 290px;
    max-width: 290px;
    margin: 0 auto;
    grid-column: span 1;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.news__button-prev {
  grid-column: span 1;
  max-height: 22px;

  @include vp-767 {
    grid-column-start: 1;
  }
}

.news__button-next {
  grid-column: span 1;
  max-height: 22px;

  @include vp-767 {
    grid-column-start: 3;
  }
}

.news__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
  gap: 20px;

  @include vp-767 {
    grid-column-start: 2;
    grid-column-end: 3;
    gap: 16px;
    min-width: 100%;
    max-width: 100%;
  }
}

.news__pagination .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-transparent-blue-default;
  opacity: 1;
  background-color: $color-alabaster;
  border-radius: 0;

  @include hover-focus {
    border: 1px solid $color-cerulean-blue;
    border-radius: 20px;
    color: $color-cerulean-blue;
    background-color: transparent;
  }

  @include active {
    border: 1px solid $color-endeavour;
    background-color: $color-endeavour;
    border-radius: 20px;
    color: $color-default-white;
  }
}

.news__pagination .swiper-pagination-bullet-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-default-white;
  opacity: 1;
  background-color: $color-cerulean-blue;
  border-radius: 20px;

  @include hover-focus {
    border: 1px solid $color-cerulean-blue;
    border-radius: 20px;
    color: $color-cerulean-blue;
    background-color: transparent;
  }

  @include active {
    border: 1px solid $color-endeavour;
    background-color: $color-endeavour;
    border-radius: 20px;
    color: $color-default-white;
  }
}
