.about-card {
  position: relative;
  display: flex;

  align-items: center;
  gap: 30px;
  width: 478px;
  min-height: 120px;

  padding: 30px 55px;
  border: 1px solid $color-alabaster;
  color: $color-alabaster;
  border-radius: 16px;

  @include vp-1199 {
    flex-direction: column;

    width: 264px;
    padding: 30px 30px 26px 30px;
    gap: 6px;
  }

  @include vp-767 {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    padding: 20px 16px 22px 19px;
    width: 240px;
  }
}

.about-card__star {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: $color-cerulean-blue;

  width: 42px;
  height: 42px;

  @include vp-767 {
    padding: 12px;
  }
}

.about-card h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.26px;
  text-transform: uppercase;

  margin: 0;

  @include vp-1199 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: $color-default-white;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16px;
  }
}

.about-card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;

  margin: 0;

  @include vp-767 {
    font-size: 14px;
  }
}
