.accordion {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-1199 {
    width: 100%;
  }

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    display: grid;

    grid-template-columns: 1fr 40px;
    column-gap: 10px;
    border-radius: 16px;
    border: 1px solid $color-cerulean-blue;
    padding: 40px;

    @include vp-1199 {
      padding: 30px;
    }

    @include vp-767 {
      padding: 20px 15px;
    }
  }

  &__content {
    display: grid;
    grid-column: span 2;
  }

  &__element h3 {
    color: $color-cerulean-blue;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    align-self: center;
    letter-spacing: 0.09px;

    grid-column: 1 / 2;

    margin: 0;
    padding: 0;

    @include vp-1199 {
      font-size: 22px;
      line-height: 26px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__element p {
    margin: 0;
    padding: 20px 0 0 0;
    width: 637px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: $color-default-white;

    @include vp-1199 {
      width: 100%;
      line-height: 20px;

      color: $color-alabaster;
    }

    @include vp-767 {
      width: 100%;
      font-size: 14px;
    }
  }

  &__button {
    position: relative;

    width: 42px;
    height: 42px;
    box-sizing: border-box;

    border-radius: 50%;
    background-color: $color-cerulean-blue;
    border: 1px solid $color-cerulean-blue;

    grid-column: 2 / 3;

    margin: 0 0 0 auto;
    cursor: pointer;

    @include vp-1199 {
      margin: 0;
      width: 40px;
      height: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 11px;
      top: 19px;
      width: 18px;
      height: 1px;
      background-color: $color-default-white;
    }

    &::after {
      content: "";
      position: absolute;
      left: 11px;
      top: 19px;
      width: 18px;
      height: 1px;
      background-color: $color-default-white;
      transform: rotate(90deg);
    }

    @include hover-focus {
      background-color: $color-default-white;
      border: 1px solid $color-cerulean-blue;

      &::before {
        background-color: $color-cerulean-blue;
      }

      &::after {
        background-color: $color-cerulean-blue;
      }
    }
  }

  &__element.is-active > &__button {
    background-color: $color-default-white;
    margin: 0;

    &::after {
      transform: none;
      background-color: $color-cerulean-blue;
    }
  }

  &__element.is-active {
    background-color: $color-cerulean-blue;
  }

  &__element.is-active h3 {
    color: $color-default-white;
  }

  &__element.is-active p {
    color: $color-default-white;

    @include vp-1199 {
      color: $color-alabaster;
    }
  }

  &__wrapper {
    padding: 0;
  }
}
