.custom-input {
  position: relative;

  display: flex;
  width: 100%;

  @include hover {
    .custom-input__label {
      opacity: 1;
    }

    input {
      border: 1px solid $color-default-black;
    }
  }

  @include focus {
    .custom-input__label {
      opacity: 1;
    }

    input {
      border: 1px solid $color-default-black;
    }
  }

  @include active {
    .custom-input__label {
      opacity: 1;
    }

    input {
      border: 1px solid $color-default-black;
    }
  }
}

.custom-input label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.custom-input input {
  flex-grow: 1;
  width: 100%;
  min-height: 48px;
  padding: 16px 25px;

  border: 1px solid $color-transparent-black;
  border-radius: 8px;
  outline: none;

  transition: border 0.3s ease;
}

.custom-input.is-invalid input {
  border: 1px solid $color-wild-watermelon;
  background-color: $color-background-error;
}

.custom-input__label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: $color-default-black;
  opacity: 0.8;
}
