.form {
  width: 498px;

  padding: 79px 74px 49px 74px;
  display: flex;
  flex-direction: column;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  border-radius: 16px;

  @include vp-1199 {
    width: 442px;
    min-height: 780px;
    padding: 50px 45px;
  }

  @include vp-767 {
    width: 100%;
    min-height: 753px;
    padding: 52px 15px 50px 15px;
  }
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 11px;

  @include vp-1199 {
    margin: 20px 0 0 0;
  }

  @include vp-767 {
    margin: 10px 0 0 0;
    gap: 22px;
  }
}

.form h2 {
  margin: 0 0 25px 0;

  @include vp-1199 {
    margin: 10px 0 15px 0;
  }

  @include vp-767 {
    margin: 0;
  }
}

.form p {
  margin: 0 0 20px 0;

  @include vp-1199 {
    margin: 12px 0 10px 0;
  }

  @include vp-767 {
    margin: 15px 0 16px 0;
  }
}
