.instruction-card {
  position: relative;
  display: flex;

  padding: 22px 25px;

  border: 1px solid $color-alabaster;
  color: $color-alabaster;
  border-radius: 16px;
  max-width: 478px;
  margin: 0 0 0 20px;

  @include vp-1199 {
    flex-direction: column;
    flex-shrink: 0;
    min-width: unset;
    width: 305px;
    min-height: 92px;
    margin: 0;
    padding: 22px 25px 26px 25px;
  }

  @include vp-767 {
    width: 95%;
    min-height: 58px;

    padding: 16px 25px 20px 25px;
  }
}

.instruction-card__number {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: $color-cerulean-blue;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.22px;
  text-transform: uppercase;

  width: 42px;
  height: 42px;

  @include vp-1199 {
    top: 4px;
  }

  @include vp-767 {
    top: 6px;
    padding: 10px;
    width: 32px;
    height: 32px;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.instruction-card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: $color-alabaster;

  margin: 0;

  @include vp-1199 {
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}
