.socials {
  display: flex;
  align-items: center;
  grid-column: span 1;

  margin: 0 0 0 auto;

  @include vp-1199 {
    grid-column-start: 2;
  }

  @include vp-767 {
    grid-column: span 1;
    grid-row-start: 4;
    grid-column-start: 1;
    margin: 0 auto;
  }
}

.socials__list {
  display: flex;
  align-items: center;

  list-style-type: none;
  padding: 0;
  margin: 0;

  gap: 20px;

  @include vp-1199 {
    gap: 10px;
  }
}

.socials__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  @include vp-767 {
    width: 26px;
    height: 26px;
  }
}
